.App {
  text-align: center;
}
 *{
  color: white;
  margin: 0px;
  padding: 0px;
} 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
 

.port{
  background: rgb(134,142,171);
  background: linear-gradient(90deg, rgba(134,142,171,1) 48%, rgba(219,198,202,1) 100%, rgba(77,58,58,1) 100%, rgba(86,88,102,1) 100%, rgba(38,32,55,1) 100%);
}
  

  